<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!--    TAILWINDCSS CDN-->
    <script src="https://cdn.tailwindcss.com"></script>

    <title>{% block title%}{% endblock %} | TresorXcollection</title>
</head>
<body>
<header>{% block header %}{% include 'core/header.html' %}{% endblock %}</header>

<nav>{% block navbar %}{% include 'core/navbar.html' %}{% endblock %}</nav>

<main>{% block content %}{% endblock %}</main>

<footer>{% block footer %}{% endblock %}</footer>

</body>
</html>
